{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
<form action="/editfertilizerpost" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <h2>Add</h2>
  <table width="610" height="415" border="1" class="table table-striped">
    <tr>
      <td width="213">Name</td>
      <td width="381"><input type="text" class="form-control" name="textfield" value="{{ val.name }}" required pattern="[A-Z a-z .]{2,25}"/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="file"  value="{{ val.photo }}"/>
        <img src="{{ val.photo.url }}" height="100" width="100"></td>

    </tr>
    <tr>
      <td><p>Usage</p>      </td>
      <td><input type="text" name="textfield2" value="{{ val.usage }}" class="form-control" required pattern="[A-Z a-z .]{2,25}"/></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" name="textfield3" value="{{ val.description }}" class="form-control" required /></td>
    </tr>


    <tr>
      <td>Company</td>
      <td><input type="text" name="textfield7" value="{{ val.company }}" class="form-control" required/></td>
    </tr>
 <tr>
      <td>Type</td>
      <td><select name="type" class="form-control">
      <option>Nitrogen Fertilizer</option>
            <option>Nitrogen Fertilizer</option>
            <option>Potassium Fertilizer</option>
            <option>Organic Fertilizer</option>
            <option>Manure </option>
            <option>Compost </option>
            <option>Nitrate Fertilizer</option>
            <option>Phosphorous Fertilizer</option>
            <option>Pottassium Fertilizer</option>
            <option>Micronutrients</option>




      </select></td>
    </tr>
        <tr>
      <td>Price</td>
      <td><input type="text" name="price" class="form-control" value="{{ val.price }}" required /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><a href="#">
        <input type="submit" value="Edit" required class="btn btn-dark"/>
      </a></div></td>
    </tr>
  </table>

</form>
</body>

{#</html>#}
{% endblock %}