{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_noti">
  <h2>View doubts</h2>
  <table  border="1"class="table table-striped">

  <tr>
      <td >Date
      </td>
      <td colspan="2">
      <input type="date" name="textfield" class="form-control" required/>
      </td>
      <td>
      <input type="submit" name="Submit" value="Go" class="btn btn-primary"/></td>
      <td></td>
    </tr>
    <tr>
        <td>SL NO</td>
      <td>Notification</td>

      <td>Date</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
    <td>{{ forloop.counter }}</td>

      <td>{{ i.notification }}</td>
      <td>{{ i.date }}</td>
        <td>
      <a class="btn btn-danger" href="delete_noti/{{ i.id }}#services">Delete</a></td>

    </tr>
      {% endfor %}
  </table>
  <p>&nbsp; </p>
</form>
</body>
{% endblock%}
