{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'search_user' %}#services">
  <h2>View Users</h2>
  <table  border="1" class="table table-striped">
    <tr>
        <td colspan="2">Users</td>
        <td  colspan="2">
            <input type="text" name="textfield" class="form-control" required/></td>
        <td  colspan="2">
      <input type="submit" name="Submit" value="Go" class="btn btn-primary" required/></td>
    </tr>
    <tr>
      <td>Sl.no.</td>
      <td>User Name</td>
      <td>Address</td>
      <td>E-mail</td>
      <td>Phone</td>
      <td>Photo</td>


    </tr>

      {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{i.name}}</td>
      <td>&nbsp;{{i.place}}<br>{{ i.post }}<br>{{ i.pin }}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td><img src="./media/{{i.photo}}" height="100" width="100" style="border-radius: 50%"/></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
{#</html>#}
